body{
    background-color: rgb(20, 20, 114);
}





.row{
    display: flex;
    flex-direction: row;
}

.col-4 .p0{
    color: white;
    margin-left: 10rem;
    font-size: 23px;
    margin-top: 5rem;
    padding-bottom: 5rem;
}

.col-4 .p1{
    width: 20rem;
    font-size: 48px;
    padding-left: 10rem;
    margin-top: -5rem;
    color: white;
}

.col-4 .p2{
    padding-left: 10rem;
    color: rgb(187, 195, 199);
    
}

.col-4 button{
    margin-left: 5rem;
    margin-top: 1rem;
}

#b1{
    margin-left: 10rem;
    border: 0.5px solid aqua;
    border-radius: 2rem;
    background-color: aqua;
    color: white;
    height: 2.5rem;
    width: 14rem;
}

nav{
    height: 120px;
    background-color: rgb(20, 20, 114);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -6rem;
    
}

.logo a{
    color: white;
}

.col-8 img{
    margin-top: 4rem;
    height: 32rem;
    border-radius: 2rem;
    width: 15rem;
    margin-left: 22rem;
}