*{
    margin: 0;
    padding: 0;
}

nav{
    height: 120px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo{
    padding-left: 100px;
}

.nav-content{
    width: 400px;
    display: block;
    justify-content:space-between;
    align-items: center;
    margin: 20px;
}

.nav-content a{
    padding: 20px;
    text-decoration: none;
    color: rgb(187, 195, 199);
}

.account{
    padding-right: 100px;
}

#sign-up{
    border: none;
    background-color: #fff;
    color: rgb(187, 195, 199);
}

#sign-in{
    border: 0.5px solid green;
    background-color: green;
    color: rgb(187, 195, 199);
    border-radius: 50px;
}

#container{
    text-align: center;
}

.p1{
    font-size: 80px;
}

.p2{
    font-size: 22px;
    color: rgb(187, 195, 199);
    padding-top: 30px;
}

.purchase{
    padding-top: 120px;
}

.purchase .button{
    height: 50px;
    background-color: rgb(95, 180, 234);
    width: 300px;
    border: 1px solid rgb(95, 180, 234);
    border-radius: 35px;
    margin-left: 38%;
}

.button a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    
    
}

.purchase p{
    padding-top: 20px;
    color:rgb(95, 180, 234) ;
}





